source "drivers/input/touchscreen/xiaomi/fts_521/Kconfig"
source "drivers/input/touchscreen/xiaomi/goodix_driver_gt9886/Kconfig"
source "drivers/input/touchscreen/xiaomi/nt36523/Kconfig"
source "drivers/input/touchscreen/xiaomi/nt36672c/Kconfig"

config I2C_BY_DMA
	bool "I2C BY DMA"

config SECURE_TOUCH
	bool "Secure Touch"

config INPUT_PRESS_NDT
	bool "ndt"
	depends on I2C
	help
	  Say Y here if you have a press ic ndt.

config SPI_XIAOMI_TP
	bool
	depends on SPI
	default y if TOUCHSCREEN_NT36xxx_HOSTDL_SPI
	help
		Say Y if want use xiaomi touch panel.

# --- 来自 MiCode: 小米触控特性 ---
config TOUCHSCREEN_XIAOMI_TOUCHFEATURE
	tristate "Xiaomi touch feature"
	depends on INPUT_TOUCHSCREEN
	help
	  Enable Xiaomi touch feature support.

config TOUCHSCREEN_XIAOMI_TOUCHFEATURE_PALMSENSOR
	tristate "Xiaomi touch palm sensor"
	depends on TOUCHSCREEN_XIAOMI_TOUCHFEATURE

config TOUCHSCREEN_XIAOMI_TOUCHFEATURE_GAMEMODE
	tristate "Xiaomi touch game mode"
	depends on TOUCHSCREEN_XIAOMI_TOUCHFEATURE

# --- 来自 MiCode: 小米触控特性 ---
config TOUCHSCREEN_XIAOMI_TOUCHFEATURE
	tristate "Xiaomi touch feature"
	depends on INPUT_TOUCHSCREEN
	help
	  Enable Xiaomi touch feature support.

config TOUCHSCREEN_XIAOMI_TOUCHFEATURE_PALMSENSOR
	tristate "Xiaomi touch palm sensor"
	depends on TOUCHSCREEN_XIAOMI_TOUCHFEATURE

config TOUCHSCREEN_XIAOMI_TOUCHFEATURE_GAMEMODE
	tristate "Xiaomi touch game mode"
	depends on TOUCHSCREEN_XIAOMI_TOUCHFEATURE
